<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>net.clearwaterproject.Test</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FromTest</servlet-name>
		<servlet-class>net.clearwaterproject.FromTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Top</servlet-name>
		<servlet-class>net.clearwaterproject.controller.ui.TopServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>net.clearwaterproject.controller.ui.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Redirect</servlet-name>
		<servlet-class>net.clearwaterproject.controller.ui.RedirectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistPromoter</servlet-name>
		<servlet-class>net.clearwaterproject.controller.ui.RegistPromoterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistPromoterMember</servlet-name>
		<servlet-class>net.clearwaterproject.controller.ui.RegistPromoterMemberServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InputCheckWaterInfo</servlet-name>
		<servlet-class>net.clearwaterproject.controller.ui.InputCheckWaterInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Map</servlet-name>
		<servlet-class>net.clearwaterproject.controller.ui.MapServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserJson</servlet-name>
		<servlet-class>net.clearwaterproject.controller.out.UserJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MapInfoJson</servlet-name>
		<servlet-class>net.clearwaterproject.controller.out.MapInfoJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MMapPinJson</servlet-name>
		<servlet-class>net.clearwaterproject.controller.out.mobile.MobileMapPinJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MWaterInfoJson</servlet-name>
		<servlet-class>net.clearwaterproject.controller.out.mobile.MobileWaterInfoJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestJsonPostAPI</servlet-name>
		<servlet-class>net.clearwaterproject.controller.out.TestJsonPostAPI</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReceiveWaterInfo</servlet-name>
		<servlet-class>net.clearwaterproject.controller.in.ReceiveWaterInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WaterAddComment</servlet-name>
		<servlet-class>net.clearwaterproject.controller.in.WaterAddCommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelWaterAddComment</servlet-name>
		<servlet-class>net.clearwaterproject.controller.in.DelWaterAddCommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WaterWatchUser</servlet-name>
		<servlet-class>net.clearwaterproject.controller.in.WaterWatchUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelWaterWatchUser</servlet-name>
		<servlet-class>net.clearwaterproject.controller.in.DelWaterWatchUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FromTest</servlet-name>
		<url-pattern>/fromtest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Top</servlet-name>
		<url-pattern>/top</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Redirect</servlet-name>
		<url-pattern>/redirect</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>RegistPromoter</servlet-name>
		<url-pattern>/registpromoter</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>RegistPromoterMember</servlet-name>
		<url-pattern>/registpromotermember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InputCheckWaterInfo</servlet-name>
		<url-pattern>/inputCheckWaterInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Map</servlet-name>
		<url-pattern>/map</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserJson</servlet-name>
		<url-pattern>/userjson</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MapInfoJson</servlet-name>
		<url-pattern>/mapinfojson</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MMapPinJson</servlet-name>
		<url-pattern>/mmappinjson</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MWaterInfoJson</servlet-name>
		<url-pattern>/mwaterinfojson</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>TestJsonPostAPI</servlet-name>
		<url-pattern>/testjsonpost</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>ReceiveWaterInfo</servlet-name>
		<url-pattern>/receivewaterinfo</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>WaterAddComment</servlet-name>
		<url-pattern>/wateraddcomment</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>DelWaterAddComment</servlet-name>
		<url-pattern>/delwateraddcomment</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>WaterWatchUser</servlet-name>
		<url-pattern>/waterwatchuser</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>DelWaterWatchUser</servlet-name>
		<url-pattern>/delwaterwatchuser</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>datastoreFilter</filter-name>
		<filter-class>org.slim3.datastore.DatastoreFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>datastoreFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<!-- 1. filter added for CNMV. start -->
	<filter>
		<filter-name>CNFrontController</filter-name>
		<filter-class>jp.crossnote.slim3.filter.CNFrontController</filter-class>
	</filter>
	<!-- 1. filter added for CNMV. end -->
	<filter>
		<filter-name>Encoding</filter-name>
		<filter-class>net.clearwaterproject.sys.com.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<!-- 2. mapping added for CNMV. start -->
	<filter-mapping>
		<filter-name>CNFrontController</filter-name>
		<url-pattern>/cn/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<!-- 2. mapping added for CNMV. end -->
	<filter-mapping>
		<filter-name>Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<welcome-file-list>
		<welcome-file>inputCheckWaterInfo.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/error.jsp</location>
	</error-page>  

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/profile/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    
	<context-param>
        <param-name>slim3.rootPackage</param-name>
        <param-value>net.clearwaterproject</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>application</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.request.charset</param-name>
        <param-value>UTF-8</param-value>
    </context-param>

    <filter>
        <filter-name>HotReloadingFilter</filter-name>
        <filter-class>org.slim3.controller.HotReloadingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DatastoreFilter</filter-name>
        <filter-class>org.slim3.datastore.DatastoreFilter</filter-class>
    </filter>   
    <filter>
        <filter-name>FrontController</filter-name>
        <filter-class>org.slim3.controller.FrontController</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HotReloadingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>    
    <filter-mapping>
        <filter-name>DatastoreFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FrontController</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    
    <servlet>
        <servlet-name>GlobalTransactionServlet</servlet-name>
        <servlet-class>org.slim3.datastore.GlobalTransactionServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    
    <servlet>
        <servlet-name>KtrWjrServiceServlet</servlet-name>
        <servlet-class>bufferings.ktr.wjr.server.service.KtrWjrServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GlobalTransactionServlet</servlet-name>
        <url-pattern>/slim3/gtx</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>KtrWjrServiceServlet</servlet-name>
        <url-pattern>/ktrwjr/ktrwjr/ktrwjr.s3gwt</url-pattern>
    </servlet-mapping>

  
	<!-- 3. security added for CNMV. start -->
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/cn/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<!-- 3. security added for CNMV. end -->
    <security-constraint>
        <web-resource-collection>
            <url-pattern>*.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/slim3/gtx/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/ktrwjr/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>